
/* NAV BAR */
.logo {
    left: 10px;
    display: flex;
    position: absolute;
    font-family: 'Mali', cursive;
}

.logo .icon {
    width: 30px;
}

.logo .company-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;

    margin-left: 10px;
}

.navbar .header {

}

.navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50px;
    z-index: 9999;

    background-color: #d7b7a0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .button {
    margin: 20px;
    padding: 0 10px 3px 10px;
    color: #5f483e;
}

.navbar .button.selected {
    border-bottom: 2px solid #5f483e;
}

@media only screen and (max-width: 800px) {
    .logo .company-name {
        display: none;
    }
}

/* CONTENT */
.content {
    padding-top: 50px;

    width: 80%;
    margin: auto;
    margin-top: 50px;
}

/* CARDS */
.card {
    display: flex;
    background-color: #d7b7a0;
    border-radius: 15px 0 15px 15px;

    position: relative;

    margin-bottom: 25px;
}

.card .buttons {
    position: absolute;
    right: -35px;
}

.card .buttons div {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card .details {
    font-size: 12px;
    padding: 10px 0px;
}

.card .collapsed .header {
    font-size: inherit;
    font-weight: bold;
}

.card .image {
    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card .image img {
    height: 80%;
    width: 80%;
    object-fit: cover;
}

.card table {
    border-collapse: collapse; /* Remove spacing between cells */
    margin: 0; /* Remove margin around the table */
    padding: 0; /* Remove padding inside the table */
}

.card tr th, .card tr td {
    text-align: left;
    padding-right: 10px;
    max-width: 100px;

    vertical-align: top;
}

.collapsed {
    display: none;
}

@media (max-width: 600px) {
    td:nth-child(7),
    th:nth-child(7),
    td:nth-child(8),
    th:nth-child(8){
        display: none;
    }

    .collapsed {
        display: block;
    }
}